In [2]:
#Import
import os.path

from pygenesis.py_genesis_client import PyGenesisClient
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import dates

In [5]:
DATA_DIR = Path.cwd()
file_path_data = DATA_DIR / 'data/12411-0012.xlsx'
df = pd.read_excel(file_path_data, header = 4)
df.head()

,Unnamed: 0,Baden-Württemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Gesamt
0,31.12.1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unter 1 Jahr,119162.0,136550.0,41485.0,29040.0,6851.0,16629.0,62328.0,23291.0,83095.0,199981.0,43012.0,11215.0,49556.0,31411.0,29179.0,28657.0,911442.0
2,1-Jährige,114672.0,129986.0,38824.0,31792.0,6552.0,15550.0,60670.0,25424.0,79748.0,192662.0,41210.0,10950.0,53584.0,33451.0,28288.0,30488.0,893851.0
3,2-Jährige,116459.0,130981.0,39899.0,34300.0,6537.0,15772.0,60841.0,27284.0,81154.0,195867.0,42553.0,11180.0,56712.0,36113.0,28726.0,33405.0,917783.0
4,3-Jährige,110080.0,124102.0,38900.0,35986.0,6235.0,14534.0,58403.0,29125.0,77700.0,188769.0,41173.0,10953.0,59380.0,37339.0,27379.0,34428.0,894486.0

In [6]:
#Tabelle bearbeiten
df.rename(columns={"Unnamed: 0": "Todesalter"}, inplace=True)
df.drop(['Baden-Württemberg', 'Bayern', 'Mecklenburg-Vorpommern', 'Hessen', 'Schleswig-Holstein', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Nordrhein-Westfalen', 'Niedersachsen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen-Anhalt', 'Sachsen', 'Thüringen'], axis=1,inplace=True) #delete column with männlich and weiblich

In [7]:
df.head()

     Todesalter    Gesamt
0    31.12.1990       NaN
1  unter 1 Jahr  911442.0
2     1-Jährige  893851.0
3     2-Jährige  917783.0
4     3-Jährige  894486.0

In [16]:
for i in range(1990, 2020):
    df.

1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019