In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

hs_blau = "#22376f"
#mpl.rcParams['axes.prop_cycle'] = mpl.cycler(color=["#0645ad", "#800020", "#1EB9E7", ])

In [3]:
bevölkerung = pd.read_excel(f"Data\\12411-0012_complete.xlsx", index_col=0)

#read sterbefälle pro monat
sterbefälle_monat = pd.read_excel(f"Data\\sonderauswertung-sterbefaelle_groß.xlsx", sheet_name='BL_2016_2022_Monate_AG_Ins') #Datensatz ist selbst zusammengebaut
sterbefälle_monat = sterbefälle_monat[sterbefälle_monat.columns].replace(["-",".","X "],0)
sterbefälle_monat

,Nr.,Jahr,Bundesland,Altersgruppe,Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember,Insgesamt
0,81,2021,Schleswig-Holstein,Insgesamt,3602,3071,3090,2918,2975,2850,2854,2876,2822,3162,3084,3471,36775
1,82,2021,Schleswig-Holstein,0-65,448,411,482,436,436,430,443,394,369,447,391,490,5177
2,83,2021,Schleswig-Holstein,65-75,540,435,487,456,510,433,477,467,454,474,488,536,5757
3,84,2021,Schleswig-Holstein,75-85,1219,1019,1020,952,992,981,912,985,920,1042,994,1070,12106
4,85,2021,Schleswig-Holstein,85 u. mehr,1395,1206,1101,1074,1037,1006,1022,1030,1079,1199,1211,1375,13735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,556,2016,Thüringen,Insgesamt,2576,2488,2571,2293,2344,2136,2179,2143,2178,2342,2419,2643,28312
476,557,2016,Thüringen,0-65,402,406,384,367,366,325,366,345,343,383,399,403,4489
477,558,2016,Thüringen,65-75,394,359,366,361,360,326,347,333,340,361,338,419,4304
478,559,2016,Thüringen,75-85,821,847,906,767,804,732,721,732,767,793,811,897,9598
479,560,2016,Thüringen,85 u. mehr,959,876,915,798,814,753,745,733,728,805,871,924,9921

In [4]:
#alle Altersgruppen einteilen
rows = []
x = 0
j = 0
for k in range (1 ,32):
    x=0
    for i in range(0, 92):
        k2 = k*91
        if i == 0 and k == 1:
            bevölkerungs_anzahl = bevölkerung.loc[bevölkerung.index[0]]["Gesamt"] #Gesamtbevölkerung je altersgruppe
        if i == 0 and k != 1:
            bevölkerungs_anzahl = bevölkerung.loc[bevölkerung.index[i+(k-1)*92]]["Gesamt"]
        else:
            bevölkerungs_anzahl = bevölkerung.loc[bevölkerung.index[i+((k-1)*92)]]["Gesamt"]

        if ( i < 65):
            x += bevölkerungs_anzahl
            if (i == 64):
                rows.append([1990+k-1,"0 - "+"<{}".format(i+1), x])
                x = 0   

        elif (i >= 65 and  i < 75):
    
            x += bevölkerungs_anzahl
            if i == 74:
                rows.append([1990+k-1,(str(i-14)+" - <"+str(i+1)), x])

            
                x = 0

        elif (i >= 75 and  i < 85):
            x += bevölkerungs_anzahl
            if i == 84:
                rows.append([1990+k-1,(str(i-14)+" - <"+str(i+1)), x])

        else:
            x += bevölkerungs_anzahl
            if i == 91:
                rows.append([1990+k-1,(str(i-14)+" - <"+str(i+1)), x])

       
        

new_df = pd.DataFrame(rows, columns=["Jahr","Alter", "Anzahl"])
new_df

     Jahr     Alter    Anzahl
0    1990   0 - <65  67841087
1    1990  60 - <75   6255795
2    1990  70 - <85   4526788
3    1990  77 - <92  85409572
4    1991   0 - <65  68241982
..    ...       ...       ...
119  2019  77 - <92  92724266
120  2020   0 - <65  64883395
121  2020  60 - <75   8867174
122  2020  70 - <85   6898530
123  2020  77 - <92  92559493

[124 rows x 3 columns]