In [2]:
import os
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

hs_blau = "#22376f"
#mpl.rcParams['axes.prop_cycle'] = mpl.cycler(color=["#0645ad", "#800020", "#1EB9E7", ])

In [3]:
bevölkerung = pd.read_excel(f"Data\\12411-0012_complete.xlsx", index_col=0)

#read sterbefälle pro monat
sterbefälle_monat = pd.read_excel(f"Data\\sonderauswertung-sterbefaelle_groß.xlsx", sheet_name='BL_2016_2022_Monate_AG_Ins') #Datensatz ist selbst zusammengebaut
sterbefälle_monat = sterbefälle_monat[sterbefälle_monat.columns].replace(["-",".","X "],0)
sterbefälle_monat

,Nr.,Jahr,Bundesland,Altersgruppe,Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember,Insgesamt
0,81,2021,Schleswig-Holstein,Insgesamt,3602,3071,3090,2918,2975,2850,2854,2876,2822,3162,3084,3471,36775
1,82,2021,Schleswig-Holstein,0-65,448,411,482,436,436,430,443,394,369,447,391,490,5177
2,83,2021,Schleswig-Holstein,65-75,540,435,487,456,510,433,477,467,454,474,488,536,5757
3,84,2021,Schleswig-Holstein,75-85,1219,1019,1020,952,992,981,912,985,920,1042,994,1070,12106
4,85,2021,Schleswig-Holstein,85 u. mehr,1395,1206,1101,1074,1037,1006,1022,1030,1079,1199,1211,1375,13735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,556,2016,Thüringen,Insgesamt,2576,2488,2571,2293,2344,2136,2179,2143,2178,2342,2419,2643,28312
476,557,2016,Thüringen,0-65,402,406,384,367,366,325,366,345,343,383,399,403,4489
477,558,2016,Thüringen,65-75,394,359,366,361,360,326,347,333,340,361,338,419,4304
478,559,2016,Thüringen,75-85,821,847,906,767,804,732,721,732,767,793,811,897,9598
479,560,2016,Thüringen,85 u. mehr,959,876,915,798,814,753,745,733,728,805,871,924,9921

In [4]:
#alle Altersgruppen einteilen
rows = []
x = 0
j = 0
for k in range (1 ,32):
    x=0
    for i in range(0, 92):
        k2 = k*91
        if i == 0 and k == 1:
            bevölkerungs_anzahl = bevölkerung.loc[bevölkerung.index[0]]["Gesamt"] #Gesamtbevölkerung je altersgruppe
        if i == 0 and k != 1:
            bevölkerungs_anzahl = bevölkerung.loc[bevölkerung.index[i+(k-1)*92]]["Gesamt"]
        else:
            bevölkerungs_anzahl = bevölkerung.loc[bevölkerung.index[i+((k-1)*92)]]["Gesamt"]

        if ( i < 65):
            x += bevölkerungs_anzahl
            if (i == 64):
                rows.append([1990+k-1,"0 - "+"<{}".format(i+1), x])
                x = 0   

        elif (i >= 65 and  i < 75):
    
            x += bevölkerungs_anzahl
            if i == 74:
                rows.append([1990+k-1,(str(i-14)+" - <"+str(i+1)), x])

            
                x = 0

        elif (i >= 75 and  i < 85):
            x += bevölkerungs_anzahl
            if i == 84:
                rows.append([1990+k-1,(str(i-14)+" - <"+str(i+1)), x])

        else:
            x += bevölkerungs_anzahl
            if i == 91:
                rows.append([1990+k-1,(str(i-14)+" - <"+str(i+1)), x])

       
        

new_df = pd.DataFrame(rows, columns=["Jahr","Alter", "Anzahl"])
new_df

     Jahr     Alter    Anzahl
0    1990   0 - <65  67841087
1    1990  60 - <75   6255795
2    1990  70 - <85   4526788
3    1990  77 - <92  85409572
4    1991   0 - <65  68241982
..    ...       ...       ...
119  2019  77 - <92  92724266
120  2020   0 - <65  64883395
121  2020  60 - <75   8867174
122  2020  70 - <85   6898530
123  2020  77 - <92  92559493

[124 rows x 3 columns]

### Zusammenfassen der Altergruppen für Bundesländer vergleich

In [5]:
bevölkerung

,Jahr,Alter,Baden-Württemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Gesamt
1,1990,unter 1 Jahr,119162,136550,41485,29040,6851,16629,62328,23291,83095,199981,43012,11215,49556,31411,29179,28657,911442
2,1990,1-Jährige,114672,129986,38824,31792,6552,15550,60670,25424,79748,192662,41210,10950,53584,33451,28288,30488,893851
3,1990,2-Jährige,116459,130981,39899,34300,6537,15772,60841,27284,81154,195867,42553,11180,56712,36113,28726,33405,917783
4,1990,3-Jährige,110080,124102,38900,35986,6235,14534,58403,29125,77700,188769,41173,10953,59380,37339,27379,34428,894486
5,1990,4-Jährige,109664,123680,37737,35290,6026,13868,56944,28284,76474,184442,40529,10981,58300,36631,26005,34154,879009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,2020,87-Jährige,38312,43512,10243,10105,2244,5301,20549,6791,27702,62723,14619,3985,17717,9317,9953,8377,291450
2849,2020,88-Jährige,33330,38699,8576,8811,1938,4580,18106,6091,24439,55507,12764,3583,15081,8137,8488,7415,255545
2850,2020,89-Jährige,29520,33392,7694,7667,1749,4168,15998,5061,22048,49406,11429,3179,13748,7079,7715,6428,226281
2851,2020,90 Jahre und mehr,108225,122252,30029,26464,7160,17250,62984,16715,83231,184859,43862,10966,51868,24957,29586,23283,843691
2852,2020,Insgesamt,11103043,13140183,3664088,2531071,680130,1852478,6293154,1610774,8003421,17925570,4098391,983991,4056941,2180684,2910875,2120237,83155031

### Aufteilung der Altersgruppen pro Bundesland

In [55]:
bundesland = bevölkerung.columns.values.tolist()[2:]
memory = []

for year in range(1990,2021,1):
    #Auswahl der Länder
    bevölkerungs_jahr = bevölkerung.loc[bevölkerung.Jahr== year].reset_index(drop=True)
    for land in bundesland:
        bevölkerung_kleiner_65 =  bevölkerungs_jahr[land].iloc[0:65].sum() # 0-> 64
        memory.append([year,land,(str(0)+" -< "+str(65)), bevölkerung_kleiner_65])
        bevölkerung_kleiner_75 =  bevölkerungs_jahr[land].iloc[65:75].sum() # 65-> 74
        memory.append([year,land,(str(65)+" -< "+str(75)), bevölkerung_kleiner_75])
        bevölkerung_kleiner_85 =  bevölkerungs_jahr[land].iloc[75:85].sum() # 75-> 84
        memory.append([year,land,(str(75)+" -< "+str(85)), bevölkerung_kleiner_85])
        bevölkerung_groesser_85 = bevölkerungs_jahr[land].iloc[85:91].sum() # 85> 74
        memory.append([year,land,(str(85)+"<"), bevölkerung_groesser_85])
        gesamt = bevölkerung_kleiner_65 + bevölkerung_kleiner_75 + bevölkerung_kleiner_85 + bevölkerung_groesser_85
        memory.append([year,land,"Gesamt", gesamt])

new_df = pd.DataFrame(memory, columns=["Jahr","Bundesland","Alter", "Anzahl"])
new_df

      Jahr         Bundesland     Alter    Anzahl
0     1990  Baden-Württemberg   0 -< 65   8417865
1     1990  Baden-Württemberg  65 -< 75    733976
2     1990  Baden-Württemberg  75 -< 85    537443
3     1990  Baden-Württemberg       85<    132743
4     1990  Baden-Württemberg    Gesamt   9822027
...    ...                ...       ...       ...
2630  2020             Gesamt   0 -< 65  64883395
2631  2020             Gesamt  65 -< 75   8867174
2632  2020             Gesamt  75 -< 85   6898530
2633  2020             Gesamt       85<   2505932
2634  2020             Gesamt    Gesamt  83155031

[2635 rows x 4 columns]